.header{
  background-color: blueviolet;
  border-radius: 10px;
}

.left-section{
  padding-left: 15px;
  color: white;
  width: 140px;
}

.greetings{
  font-size: 50px;
  font-weight: bold;
}

.welcome{
  font-size: 10px;
  font-weight: bold;
}