.header{
  background-color: #fffadf;
  border-radius: 10px;
  box-shadow: 0px 3px  5px rgba(0, 0, 0, 0.2);

}

.left-section{
  padding-left: 15px;
  padding-bottom: 10px;
  padding-top: 5px;
  color: black;
}

.greetings{
  font-family: Arial, Helvetica, sans-serif;
  font-display: Arial;
  font-size: 25px;
  font-weight: bold;
  margin: 0px;
}

.welcome{
  font-family: Arial, Helvetica, sans-serif;
  font-display: Helvetica;
  font-size: 15px;
  margin:0px;
}